/* ==========ACTIVITIES========== */

.activity {
  padding-bottom: 94px;
}

.activity-title {
  color: $title-text-color;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 50px;
}

.activity-list {
  display: flex;
  justify-content: space-between;
}

.activity-item {
  position: relative;
}

.activity-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white-color;
  background-color: rgba(47, 48, 58, 0.8);

  padding: 27px 82px;
  width: 100%;

  position: absolute;
  bottom: 0;
}

.activity-item-2 {
  position: relative;
}

.name-2 {
  position: absolute;
  bottom: 0;
}

.activity-item-3 {
  position: relative;
}

.name-3 {
  position: absolute;
  bottom: 0;
}

/* ==========ACTIVITIES END========== */
