.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages-list-item {
  max-height: 450px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.advantage-title {
  color: $title-text-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 10px;
}

.advantage-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.advantages-icon-bg {
  padding-top: 25px;
  padding-bottom: 25px;

  margin-bottom: 30px;

  border-radius: 4px;
  background: #f5f4fa;
}

.advantages-icon {
  width: 70px;
  height: 70px;

  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages-list-item {
    width: 354px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }
  .advantages-icon-bg {
    padding: 25px 144px;
  }

  .advantage-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .advantages-list-item {
    width: 270px;

    &:nth-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  .advantages-icon-bg {
    padding: 25px 100px;
  }
}
