.header {
  border-bottom: 1px solid #ececec;

  position: relative;
}

.menu-button {
  border: none;
  background-color: transparent;
  outline: none;

  & .icom-menu-close {
    display: block;
  }

  & .icom-menu {
    display: none;
  }

  &.is-open .icom-menu-close {
    display: none;
  }

  &.is-open .icom-menu {
    display: block;
  }

  &:hover {
    fill: $accent-color;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-web {
  color: $accent-color;

  font-family: Raleway, sans-serif;
}

.logo-studio {
  color: $title-text-color;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* главная навигация */

.site-nav {
  display: flex;
  text-align: center;
}

.site-nav-link {
  color: $title-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  display: block;
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::after {
    content: "";

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;

    position: absolute;

    top: 25px;

    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover {
    color: $accent-color;
  }
  &:focus {
    color: $accent-color;
  }
}

.underline {
  &::after {
    opacity: 1;
  }
}

.site-nav-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.site-nav-list-item {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.current {
  color: $accent-color;
}

/* ссылки на почти и телефон */

.contacts {
  text-align: center;
  margin-top: 60px;
}

.contact-item-phone {
  margin-top: 16px;
}

.contacts-link {
  color: $primary-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: inline-flex;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .svg-mail {
    color: $accent-color;
    fill: $accent-color;
  }

  &:focus .svg-mail {
    color: $accent-color;
    fill: $accent-color;
  }

  &:hover .svg-phone {
    color: $accent-color;
    fill: $accent-color;
  }

  &:focus .svg-phone {
    color: $accent-color;
    fill: $accent-color;
  }

  &:hover {
    color: $accent-color;
    fill: $accent-color;
  }

  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.svg-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: $primary-text-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: $primary-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .menu-container {
    padding-top: 60px;
    padding-bottom: 60px;

    display: block;
    display: none;

    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;

    z-index: 1;

    background-color: $white-color;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
      display: block;
    }
  }

  .header-container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .menu-container {
    display: flex;
  }

  .site-nav-list {
    flex-direction: row;
  }

  .contacts {
    margin-top: 21px;
    text-align: left;
    margin-left: 84px;
  }

  .site-nav-list-item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .site-nav-link {
    padding-top: 32px;
    &::after {
      top: 84px;
    }
  }

  .logo {
    margin-top: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-left: 305px;
  }

  .contact-item-phone {
    margin-left: 30px;
    margin-top: 0;
  }
}
