.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* фильтр */
.filter-button {
  background-color: $gray-background;
  color: $title-text-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $accent-color;
    color: $white-color;
  }

  &:focus {
    background-color: $accent-color;
    color: $white-color;
  }
}

.portfolio-filter-list {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 40px;
}

.portfolio-filter-item {
  &:not(:last-child) {
    margin-right: 8px;
  }

  &:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

/* примеры работ */

.examples-name {
  color: $title-text-color;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-direction {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

// ------

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-list-item {
  padding-bottom: 20px;
  border: 1px solid #eeeeee;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.card-info {
  padding: 20px 24px;
}

.portfolio-link {
  text-decoration: none;
  color: $primary-text-color;

  &:hover .portfolio-overlay-text {
    transform: translateY(0);
    opacity: 1;
    top: 0;
  }

  &:focus .portfolio-overlay-text {
    transform: translateY(0);
    opacity: 1;
    top: 0;
  }
}

.portfolio-overlay {
  // width: 100%;
  max-width: 450px;
  height: 294px;

  position: relative;
  overflow: hidden;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  display: block;
  padding: 77px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  color: $white-color;
  position: absolute;

  top: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
}

@media screen and (min-width: 768px) {
  .portfolio-filter-list {
    flex-wrap: nowrap;
    justify-content: center;

    margin-bottom: 30px;
  }

  .portfolio-overlay {
    width: 354px;
  }

  .portfolio-overlay-text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .portfolio-list-item {
    &:not(:last-child) {
      margin-bottom: 0px;
    }

    &:nth-child(-n + 6) {
      margin-bottom: 30px;
    }
  }

  .portfolio-overlay {
    width: 370px;
  }

  .portfolio-overlay-text {
    padding: 63px 24px;
  }
}
