/* ==========TEAM========== */

.team {
  background-color: $gray-background;

  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list-item {
  background-color: $white-color;

  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  color: $title-text-color;

  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2x;
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 50px;
}

.team-name {
  color: $title-text-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;

  background-color: $white-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $accent-color;
  }

  &:focus {
    background-color: $accent-color;
  }

  &:hover .social-icon {
    fill: $white-color;
  }

  &:focus .social-icon {
    fill: $white-color;
  }
}

.social-icon {
  width: 20px;
  height: 20px;

  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card-info {
  padding: 30px 32px;
}

/* ==========TEAM END========== */
